<div class='d-flex align-items-center justify-content-center'>
  <h1> This is the rails page and we begin styling with bootstrap </h1>
</div>

<%= button_to "Connect a Twitter account", "/auth/twitter", method: :post, data: {turbo: "false"}, class: "btn btn-primary" %>