<div class='d-flex align-items-center justify-content-center'>
  <h1> This is the rails page and we begin styling with bootstrap </h1>
</div>

  <%= link_to "Connect a Twitter account ", "/auth/twitter", method: :post,  class: "btn btn primary", data: {turbo: "false"}, class: "btn btn-primary"  %>
